{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["ie >= 11", "last 2 versions"]
        }
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "babel-plugin-transform-exponentiation-operator",
    "react-hot-loader/babel"
  ]
}
