@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

@keyframes closeWindow {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.ril__outer {
  background-color: #110F0E;
  outline: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -ms-touch-select: none;
  touch-action: none;
}

.ril__outerClosing {
  opacity: 0;
}

.ril__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.ril__image,
.ril__imagePrev,
.ril__imageNext {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  height: 80vh;
  object-fit: cover;
  -ms-content-zooming: none;
  -ms-user-select: none;
  -ms-touch-select: none;
  touch-action: none;
}

.ril__imageDiscourager {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.ril__navButtons {
  border: none;
  border-radius: 50%;
  position: absolute;
  background-color: rgba(17, 15, 14, 0.5);
  top: 0;
  bottom: 0;
  width: 48px;
  height: 48px;
  padding: 2px 0 0 0;
  margin: auto;
  cursor: pointer;
}

.ril__navButtons:hover {
  background-color: rgb(45, 41, 38);
}

.ril__navButtons:active {
  background-color: rgb(82, 85, 89);
}

.ril__navButtons:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 2px #fff;
  background-color: rgb(82, 85, 89);
}

.ril__navButtons::-moz-focus-inner {
  border: 0;
}

.ril__navButtons>svg {
  outline: none;
}

/* For screen reader use (not visible) */
.ril__srOnly {
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.ril__navButtonPrev {
  left: 0;
  margin-left: 24px;
}

.ril__navButtonNext {
  right: 0;
  margin-right: 24px;
}

.ril__downloadBlocker {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
  background-size: cover;
}

.ril__caption,
.ril__toolbar {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.ril__caption {
  bottom: 0;
  max-height: 150px;
  overflow: auto;
}

.ril__captionContent {
  padding: 10px 20px;
  color: #fff;
}

.ril__toolbar {
  top: 0;
  padding: 24px;
  background-color: #110F0E;
}

.ril__toolbarSide {
  margin: 0;
}

.ril__toolbarLeftSide {
  padding: 0;
  flex: 0 1 auto;
  text-overflow: ellipsis;
}

.ril__toolbarRightSide {
  padding: 0;
  flex: 0 0 auto;
}

.ril__toolbarItem {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ril__toolbarRightSide>.ril__toolbarItem {
  padding: 0 4px;
}

.ril-image__title {
  font-size: 1.75rem;
  font-weight: 300;
  color: #fff;
  margin: 0;
}

.ril-image__caption {
  font-size: 0.75rem;
  font-weight: 400;
  color: #fff;
  margin: 4px 0 0 0;
}

.ril__toolbarItemChild {
  vertical-align: middle;
}

.ril__toolbarBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px;
  background-color: #110F0E;
}

.ril__builtinButton {
  width: 48px;
  height: 48px;
  padding: 2px 0 0 0;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  background-color: rgba(17, 15, 14, 0.5);
}

.ril__builtinButton:hover {
  opacity: 1;
  background-color: rgb(45, 41, 38);
}

.ril__builtinButton:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 0 2px #fff;
  background-color: rgb(82, 85, 89);
}

.ril__builtinButton:active {
  background-color: rgb(82, 85, 89);
}

.ril__builtinButton::-moz-focus-inner {
  border: 0;
}


.ril__builtinButton>svg {
  outline: none;
}

.ril__builtinButtonDisabled {
  cursor: default;
  opacity: 0.5;
}

.ril__builtinButtonDisabled:hover {
  opacity: 0.5;
}

.ril__outerAnimating {
  animation-name: closeWindow;
}

@keyframes pointFade {

  0%,
  19.999%,
  100% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }
}

.ril__loadingCircle {
  width: 60px;
  height: 60px;
  position: relative;
}

.ril__loadingCirclePoint {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.ril__loadingCirclePoint::before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 11%;
  height: 30%;
  background-color: #fff;
  border-radius: 30%;
  animation: pointFade 800ms infinite ease-in-out both;
}

.ril__loadingCirclePoint:nth-of-type(1) {
  transform: rotate(0deg);
}

.ril__loadingCirclePoint:nth-of-type(7) {
  transform: rotate(180deg);
}

.ril__loadingCirclePoint:nth-of-type(1)::before,
.ril__loadingCirclePoint:nth-of-type(7)::before {
  animation-delay: -800ms;
}

.ril__loadingCirclePoint:nth-of-type(2) {
  transform: rotate(30deg);
}

.ril__loadingCirclePoint:nth-of-type(8) {
  transform: rotate(210deg);
}

.ril__loadingCirclePoint:nth-of-type(2)::before,
.ril__loadingCirclePoint:nth-of-type(8)::before {
  animation-delay: -666ms;
}

.ril__loadingCirclePoint:nth-of-type(3) {
  transform: rotate(60deg);
}

.ril__loadingCirclePoint:nth-of-type(9) {
  transform: rotate(240deg);
}

.ril__loadingCirclePoint:nth-of-type(3)::before,
.ril__loadingCirclePoint:nth-of-type(9)::before {
  animation-delay: -533ms;
}

.ril__loadingCirclePoint:nth-of-type(4) {
  transform: rotate(90deg);
}

.ril__loadingCirclePoint:nth-of-type(10) {
  transform: rotate(270deg);
}

.ril__loadingCirclePoint:nth-of-type(4)::before,
.ril__loadingCirclePoint:nth-of-type(10)::before {
  animation-delay: -400ms;
}

.ril__loadingCirclePoint:nth-of-type(5) {
  transform: rotate(120deg);
}

.ril__loadingCirclePoint:nth-of-type(11) {
  transform: rotate(300deg);
}

.ril__loadingCirclePoint:nth-of-type(5)::before,
.ril__loadingCirclePoint:nth-of-type(11)::before {
  animation-delay: -266ms;
}

.ril__loadingCirclePoint:nth-of-type(6) {
  transform: rotate(150deg);
}

.ril__loadingCirclePoint:nth-of-type(12) {
  transform: rotate(330deg);
}

.ril__loadingCirclePoint:nth-of-type(6)::before,
.ril__loadingCirclePoint:nth-of-type(12)::before {
  animation-delay: -133ms;
}

.ril__loadingCirclePoint:nth-of-type(7) {
  transform: rotate(180deg);
}

.ril__loadingCirclePoint:nth-of-type(13) {
  transform: rotate(360deg);
}

.ril__loadingCirclePoint:nth-of-type(7)::before,
.ril__loadingCirclePoint:nth-of-type(13)::before {
  animation-delay: 0ms;
}

.ril__loadingContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.ril__imagePrev .ril__loadingContainer,
.ril__imageNext .ril__loadingContainer {
  display: none;
}

.ril__imagePrev,
.ril__imageNext {
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.ril__errorContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.ril__imagePrev .ril__errorContainer,
.ril__imageNext .ril__errorContainer {
  display: none;
}

.ril__loadingContainer__icon {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
